.navbarContainer {
  height: 5.5rem;
  display: flex;
  flex-direction: row;
  background-color: black;
  color: whitesmoke;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  position: relative;
  padding: 0 1rem;
  font-size: 1.5rem;
}

.logoContainer {
  height: 3rem;
  width: 3.5rem;
  position: relative;
}

.menuContainer {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #222222;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  color: white;

}

.linksDesktopContainer {
  display: none;
}

.menuContainerOpen {
  position: absolute;
  top: 0;
  right: 0px;
  width: 80%;
}

.listContainerMobile {
  flex-direction: column;
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  background-color: #222222;
  z-index: 1;
  font-size: 2rem;
}



.linkWrapperMobile {
  width: 100%;
  height: 10rem;
  list-style: none;
  border-top: #212121 solid 1px;
  border-bottom: #363636 solid 1px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.linkWrapperMobile:hover {
  background-color: #111;
}

/* hamburger Styles */
.burger {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
}
.line {
  fill: none;
  stroke: white;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

@media screen and (min-width: 578px) {
  .burger {
    display: none;
  }

  .menuContainer {
    display: none;
    /* display: flex;
    gap: 1em;
    flex-direction: row;
    position: relative;
    height: 100%; */
  }

  .linksDesktopContainer {
    display: flex;
    gap: 1em;
    flex-direction: row;
    align-items: center;
    /* position: relative; */
    height: 100%;
  }
  
  .linkDesktopWrapper {
    list-style: none;

  }
  .linkDesktopWrapper:hover {
    color: lightgray;

  }
  .navbarContainer {
    padding: 0 2rem;
  }
}
